@font-face {
  font-family: "anboims";
  src: url("./fonts/Paperlogy-6SemiBold.ttf")
}

.anboimsNav {
    background-color: #1D3251;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    width:960px;
    height: 77px;
    margin: 0 auto;
    font-family: "anboims";

    justify-content: space-between;
  }

  .nav-blue{
    background-color: #1D3251;
    color : white;
    margin-bottom : 30px;
  }

  .topBox, .topBox * {
    color: black;
}

  
  .link-logo img {
    width: 150px;
  }
  
  .link-logo {
    display: flex;
    cursor: pointer;
  }
  
  .upload_icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 26px;
    filter: invert(1);

  }
  
  .line {
    width: 1px;
    height: 45px;
    background-color: white;
    margin: 0 16px;
  }

  .underline {
    width: 100%;
    height: 1px;
    background-color: #262626;
    margin: 0px 0px;
    margin-bottom: 70px;
  }

  .info{
    margin : 0px;
  }
  
  button {
    all: unset; /* 기본 스타일 제거 */
    display: inline-block; /* 이미지 크기에 맞춰 버튼 크기를 조정 */
  }

  .anboims {
    filter: invert(1);
  }


