* {
    box-sizing: border-box;
  }

  nav {
    font-family: "Segoe UI";
  }

  .main2, .main-right {
    font-family: "Segoe UI";

  }
  
  /* html {
    /* height: 100%; 
  } */
  
  body {
    background-color: #fafafa;
    height: 100%;
  }
  